version: "3.8"

services:
  postgres:
    image: postgres:15-alpine
    container_name: livestream-postgres
    ports:
      - "15432:5432"
    environment:
      POSTGRES_DB: livestream
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  redis:
    image: redis:alpine
    container_name: livestream-redis
    ports:
      - "16379:6379"
    restart: always

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: livestream-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: password
    restart: always

volumes:
  postgres_data:
